.navigation {
  background-color: rgba(50, 50, 50, 97%);
  color: rgb(214, 214, 214);
  width: 100%;
  max-width: 100%;
  position: fixed;
}
.navUl {
  display: flex;
  max-width: 1100px;
  min-width: 800px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0.4rem 0.6rem;
  align-items: center;
}
.navLink {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.apple {
  font-size: 20px;
}
.navigation i {
  padding: 0.5rem;
}
.Link {
  color: rgb(214, 214, 214);
  text-decoration: none;
}
.Link:hover {
  color: rgb(255, 255, 255);
}